*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: #22223b;
    letter-spacing: 1px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 20%;
}

h1{
    font-size: 60px;
    width: 40%;
}

h2{
    font-size: 26px;
}

p#intro{
    width: 500px;
    text-align: justify;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    width: 30%;
    padding-top: 2%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #6d597a;
    text-shadow: #22223b;
}

h3{
    font-size: 32px;
}

section#about{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
}

.about{
    display: flex;
    flex-direction: column;
}

p#about{
    width: 70%;
    text-align: justify;
    padding-top: 4%;
}

ul{
    padding-top: 1%;
}

ul li{
    list-style: inside;
}

p#moreabout{
    width: 70%;
    text-align: justify;
    padding-top: 1%;
}

img#hero{
    width: 25%;
    height: 25%;
    margin-top: 10%;
    border-radius: 5%;
}

/* section criacoes*/

section#criacoes{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

h5{
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 0px;
}

p#subtitulo{
    font-size: 11px;
    font-weight: 600;
    padding-left: 15px;
    color: #6d597a;
}

p#colecao{
    width: 100%;
    text-align: justify;
    padding-top: 2%;
    padding-bottom: 1%;
}

.container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgb(0, 0, 0, 0.1);
    transition: 1s;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.box:hover{
    transform: scale(1.1);
    z-index: 2;
}

section#contato{
    margin-top: 15%;
    padding-right: 10%;
    padding-left: 15%;
}

form{
    background-color: rgb(238,174,202, 0.6);
    width: 100%;
    margin-top: 4%;
    max-width: 90%;
    padding: 55px 30px;
}

h3#contact{
    border-bottom: 1px solid #22223b;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 32px;
}

.half{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form label{
    display: block;
    margin-bottom: 5px;
}

form .half .item input{
    border-radius: 4px;
    border: 1px solid #22223b;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 15px;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

form .full{
    margin-bottom: 24px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

form .full textarea{
    border-radius: 4px;
    border: 1px solid #22223b;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    background: transparent;
    height: 200px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

.action{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

form .action input{
    border-radius: 4px;
    border: 1px solid #22223b;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    outline: 0;
    color: #22223b;
}

form .action input[type="submit"]{
    background: #22223b;
    color: rgb(238,174,202);
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover{
    background: rgba(34,34,59,0.075);
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media only screen and (max-width: 950px) {
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40%;
    }

    h1{
        font-size: 50px;
        text-align: center;
        width: 50%;
        padding: 1%;
    }
    
    h2{
        font-size: 20px;
        text-align: center;
        width: 50%;
        padding: 1%;
    }
    
    p#intro{
        text-align: justify;
        max-width: 400px;
        min-width: 200px;
        width: 50%;
        padding: 1%;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 25%;
    }

    section#about{
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }

    p#about{
        width: 90%;
    }

    p#moreabout{
        width: 90%;
        padding-top: 4%;
    }

    section#criacoes{
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    section#contato{
        display: flex;
        padding-left: 7%;
        padding-right: 7%;
    }

    section#contato{
        display: flex;
        padding-left: 7%;
        padding-right: 7%;
    }

    form .half{
        flex-direction: column;
        margin-left: 17%;
    }

    form .half item{
        width: 100%;
    }

    form .full{
        margin-left: 17%;
        max-width: 80%;
    }

    form .action{
        display: flex;
        flex-direction: column;
        margin-left: 17%;
    }

    form .action input{
        margin-bottom: 10px;
        width: 100%;
        margin-left: 18px;
    }
    
  }

  @media only screen and (max-width: 700px) {
    .intro{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 60%;
    }

    h1{
        font-size: 40px;
        text-align: center;
        width: 90%;
        padding: 1%;
    }
    
    h2{
        font-size: 15px;
        text-align: center;
        width: 90%;
        padding: 1%;
    }

    p#intro{
        text-align: justify;
        width: 90%;
        padding: 1%;
    }

    nav ul{
        background-color: rgb(148,187,233,1);
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        padding-top: 5%;
        padding-bottom: 5%;
        position: fixed;
        top: 0;
    }

    section#about{
        display: flex;
    }

    p#about{
        width: 100%;
        padding-left: 1%;
    }

    p#moreabout{
        width: 100%;
        padding-left: 1%;
    }

    img#hero{
        display: none;
        width: 0px;
    }

    .container#container2{
        display: none;
    }

    section#contato{
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
    }

    form .half{
        flex-direction: column;
        margin-left: 5%;
    }

    form .half item{
        width: 100%;
    }

    .half{
        width: 80%;
    }
    
    form .full{
        margin-left: 5%;
        width: 87%;
    }

    
    form .action{
        margin-left: 16%;
    }
  }
